.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: max-content;
  position: relative;
}

.name {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: 0px;
  color: white;
}
