.container {
  background: rgba(20, 20, 22, 1);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 345px;
  margin-top: 70px;
}

.content {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.header {
  width: calc(100% - 97px * 2);
  display: flex;
  flex-direction: row;
  gap: 412px;
  align-items: center;
}

.border {
  width: 1246px;
  height: 1px;
  background: rgba(129, 129, 129, 1);
  margin-top: 25px;
  opacity: 0.25;
  margin-bottom: 56px;
}

.year {
  color: rgba(153, 153, 153, 1);
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  //   align-self: flex-start;
  width: calc(100% - 97px * 2);
}
