.container {
  width: 281px;
  min-width: 281px;
  flex-shrink: 0;
  position: relative;
  height: 395px;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 1);
}

.img {
  margin-top: 14px;
  width: 253px;
  height: 253px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.name {
  color: rgba(20, 20, 22, 1);
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  align-self: flex-start;
  width: max-content;
  margin-left: 14px;
  position: relative;
  margin-top: 20px;
  position: relative;
}
