.container {
  display: flex;
  flex-direction: row;
  color: rgba(185, 185, 185, 1);
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0%;
  display: flex;
  gap: 70px;

  p {
    width: max-content;
  }
}
