.container {
  color: rgba(197, 197, 197, 1);
  font-weight: 600;
  font-size: 46px;
  width: max-content;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  line-height: 48px;

  @media screen and (max-width: 1500px) {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 1100px) {
    font-size: 30px;
  }
}
