.container {
  display: flex;
  width: calc(100% - 28px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;

  @media screen and (max-width: 1500px) {
    margin-top: 14px;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.name {
  color: rgba(148, 163, 184, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;

  @media screen and (max-width: 1500px) {
    font-size: 11px;
  }
}

.value {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  color: rgba(20, 20, 22, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  @media screen and (max-width: 1500px) {
    font-size: 12px;
  }
}

.btn {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 12px;
  background: black;

  @media screen and (max-width: 1500px) {
    width: 90px;
    font-size: 11px;
    height: 38px;
  }
}

.bid {
  width: 11px;
  height: 18px;
  position: relative;

  @media screen and (max-width: 1500px) {
    width: 8px;
    height: 13px;
  }
}
