.container {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 166px;
  height: 64px;
  background: white;
  border-radius: 17px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 43px 34px -25.87px rgba(15, 15, 15, 0.12);
}

.btn {
  position: relative;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
}

.reversedBtn {
  margin-left: 30px;
  transform: rotate(180deg);
  cursor: pointer;
  margin-right: unset;
}

.border {
  background: rgba(230, 232, 236, 1);
  width: 2px;
  height: 24px;
}
