.container {
  width: 281px;
  position: relative;
  height: 395px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 1);
}

.img {
  width: 253px;
  height: 253px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
